/* --- Universal selector --------- */
* { 
    box-sizing: border-box;
    }

/* --- Font family ------ */
@font-face {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Barlow Condensed', sans-serif;
}

/* --- Target element ------ */

h1 {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    font-size: 3em;
}

legend {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: contents;
}

p,
label,
input[type="submit"]  {
    font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    }
    

input[type="submit"] {
    background-color: #3bab;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    padding: 1em 0 1em;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    }

input[type="submit"]:active,
select option:active {
    background-color: rgba(50, 160, 147, 0.733);
}    
    
input[type="submit"]:hover {
    opacity: .8;
}   

label {
    margin: 10px 0 10px 5px;
    color: rgba(85, 84, 84, 0.925);
    font-weight: 100;
    display: inline-block;  
    }

fieldset {
    border: none;
}


input,
select,
option,
textarea {
    padding: 12px;
    font-size: 1em;
    background-color: rgba(224, 223, 223, 0.521);
    border-radius: 5px;
    border: 0;
    width: 100%;
    }
    

input[type]:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 5px solid #3bab;
    background-color: white;
    }

.textarea p:last-child {
    text-align: center;
    margin: auto 0;
    padding: 1em;
    font-style: italic;
    color: rgb(109, 109, 109);
    }

.col_last input:last-child {
    width: 50%;
    display: block;
    }

input::placeholder {
    text-align: right;
    font-style: italic;
    }      

:focus::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
      }

textarea {
    margin-bottom: 1em;
    resize: none;
    }

/* ---- Id and Classes ------ */

header {
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: black 5px solid;
    }

.personal {
    border-top: black 2px solid;
    margin-top: 2px;
    margin-bottom: 2em;
    padding: 2em 0 1em;
    }    
    
.personal p:first-of-type {
    padding-top: 2em;
}

.textarea label {
    padding-top: 1rem;
    color: rgb(20, 20, 20);
}

.newsletter p{
    padding-top: 1rem;
}    

.wrapper {
    max-width: 768px;
    padding: 1em;
    margin: auto;
    background-color: rgba(157, 241, 213, 0.11);
    }

input:focus {
    background-color: rgba(190, 184, 184, 0.295);
    transition: background-color 0.5s ease-in-out;
}

.col:first-of-type {
    padding-top: 2rem;
}


/*--- Media Queries ---------*/

@media (min-width: 768px) {  

    .col {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .item1 {
        flex: 1 30%;
    }

    .item2 {
        flex-grow: 2;
    }

    .col_last label {
        width: 23%;
    }
    
    .col_last {
        display: flex;
        justify-content: flex-start;
    }

    .col_last input:last-child {
        width: 30%;
        display: block;
        }
}